@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700;800&display=swap');

html,
body,
#root {
  font-family: 'SF Pro Display', 'SF Pro Text', Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

